<div>
  <p id class="notice"><%= flash[:notice] %></p>
</div>
<div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-3">
    <%= render 'books', user: @books.user, book: @book %>
  </div>

<div class="col-md-8 offset-md-1">
 <h2>Book detail</h2>
  <table class="table table-hover">
   <thead>
    <tr>
    </tr>
   </thead>


<tbody>
 <tr>
  <td>
   <%= image_tag @books.user.get_profile_image(100,100) %></br>
   <%= link_to @books.user.name, user_path(@books.user_id)  %>
  </td>

  <td><%= link_to @books.title, book_path(@books.id) %></td>
  <td><%= @books.body %></td>


  <td><% if @books.user == current_user %></td>
   <td><%= link_to "Edit", edit_book_path(@books.id) %></td>
   <td><%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
  <td><% end %></td>

 </tr>
</tbody>

</table>
   </div>
  </div>
 </div>